<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Bienvenue au QUIZ!</h1>
  <p class="col-md-8 fs-4">Ce Quiz contient 9 questions, chaque question vaut 10 points</p>
  <h4>Les règles:</h4>
  <ol>
    <li>Bonne réponse: 10 points</li>
    <li>Mauvaise réponse: 0 points</li>
    <li>Vous avez 🕐 60 secondes pour répondre au quiz</li>
    <li>Actualiser la page réinitialisera le quiz</li>
  </ol>
  <h1 style="font-family: Harrington; text-align: center">Bonne chance!</h1>
  <form>
      <div class="row">
        <div class="name col-md-4 my-3">
          <label for="name">Entrez votre nom <span style="color: red" *ngIf="nameModel.errors">*</span></label>
          <input type="text" id="name" name="name" [(ngModel)]="myName"  class="form-control form-control-lg" #nameModel="ngModel"  #name required />
        </div>
        <div class="name col-md-4 my-3">
          <label>Choisissez votre classe <span style="color: red">*</span></label>
          <select #classe class="form-select" aria-label="Default select example">
            <option value="Bachelor Développeur Web">Bachelor Développeur Web</option>
            <option value="Bachelor Informatique, Réseaux et Sécurité">Bachelor Informatique, Réseaux et Sécurité</option>
            <option value="M1 Expert IT Applications intelligentes et Big Data">M1 Expert IT Applications intelligentes et Big Data</option>
            <option value="M1 Expert IT Cybersécurité et Haute disponibilité">M1 Expert IT Cybersécurité et Haute disponibilité</option>
            <option value="M2 Expert IT Applications intelligentes et Big Data" selected>M2 Expert IT Applications intelligentes et Big Data</option>
            <option value="M2 Expert IT Cybersécurité et Haute disponibilité">M2 Expert IT Cybersécurité et Haute disponibilité</option>
          </select>
        </div>
        <div class="name col-md-4 my-3">
          <label >Choisissez la matière <span style="color: red">*</span></label>
          <select #matiere class="form-select" aria-label="Default select example">
            <option value="Conduite et management de projet informatique">Conduite et management de projet informatique</option>
            <option value="Expertise professionnelle">Expertise professionnelle</option>
            <option value="Culture et Citoyenneté Européennes">Culture et Citoyenneté Européennes</option>
          </select>
        </div>
      </div>


  <button class="btn btn-primary btn-lg" routerLink="/question" [disabled]="myName === ''" (click)="startQuiz()">Commencer le Quiz!!</button>
  </form>


</div>
